@media only screen and (max-width: 580px) {
  main {
    height: calc(100vh - 330px);
  }

  nav {
    padding: 8px 20px;
  }

  .example-2 {
    display: none;
  }

  .my-pages {
    display: none;
  }

  .div-principal {
    display: flex;
    flex-direction: column-reverse;
    height: 800px;
    padding-block: 0;
    padding-inline: 0;
  }

  .texts-principal {
    padding-top: 0;
    flex: none;
  }

  .title__principal {
    font-size: 6rem;
    line-height: 5.5rem;
  }

  .img_principal {
    flex: none;
    text-align: center;
    justify-content: ends;
  }

  .my-img {
    width: 300px;
  }

  #frase-cabecalho {
    font-size: 0.5rem;
    width: 360px;
  }

  .github-info {
    margin-top: 150px;
    margin-inline: 2rem;
  }

  .graphics {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 0;

    & img {
      width: 90%;
    }
  }

  .skill {
    margin-inline: 2rem;
    gap: 2rem;
    align-items: center;

    & img {
      height: 2.5rem;
    }
  }

  .div-servicos {
    margin-inline: 2rem;
    display: flex;
    flex-direction: column;
  }

  td,
  th {
    width: 200px;
    font-size: 0.8rem;
  }

  .title__projects {
    font-size: 2rem;
    margin-inline: 2rem;
  }

  .div__projects {
    display: grid;
    margin-block: 5rem;
    margin-inline: 0;
    gap: 50px;
    align-items: center;
  }

  .item-resultado {
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .img-projects {
    width: 340px;
    padding: 0;
  }

  .name {
    text-align: center;
  }

  .buttons-project {
    align-items: center;
    text-align: center;
  }

  footer {
    padding: 3rem 1rem;
    font-size: 0.7rem;
  }
}
