@media only screen and (max-width: 708px) {
  body {
    background-image: var(--mobileBg);
    position: relative;
  }

  main {
    height: calc(100vh - 330px);
  }

  nav {
    padding: 8px 20px;
  }

  .example-2 {
    display: none;
  }

  .my-pages {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu {
    border-radius: 0 0 0 10px;
    position: absolute;
    right: 0;
    top: -19px;
    background-color: #353535;
    align-items: center;
    justify-content: center;
    padding: 4rem 5rem;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .mobile-menu .my-pages,
  .mobile-menu .example-2 {
    display: block;
  }

  .mobile-menu .example-2 {
    gap: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
  }

  .div-principal {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    gap: 20px;
    height: 500px;
    padding-block: 50px;
    padding-inline: 0;
  }

  .texts-principal {
    padding-top: 0;
    flex: none;
  }

  .title__principal {
    font-size: 4rem;
    line-height: 4rem;
  }

  .img_principal {
    flex: none;
    text-align: center;
    justify-content: end;
  }

  .my-img {
    width: 150px;
  }

  #frase-cabecalho {
    font-size: 0.5rem;
    width: 360px;
  }

  .github-info {
    margin-top: 150px;
    margin-inline: 2rem;
    padding: 0 0 20px 0;
  }

  .graphics {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 0;
    padding-top: 30px;
    gap: 10px;

    & img {
      height: 150px;
      width: 90%;
    }
  }

  /* Estiliza o formulário de pesquisa */
  .search-user {
    margin: 2rem;

    & .item-search {
      flex-direction: column;
      padding: 15px 0px;
      width: 100%;
      gap: 5px;
      background-color: transparent;

      & label {
        display: none;
      }

      & input {
        padding: 10px;
        border: 2px solid #159301;
        width: 100%;
      }

      & button {
        padding: 10px;
        width: 100%;
      }
    }
  }

  .title__projects {
    font-size: 2rem;
    margin-inline: 2rem;
  }

  .div__projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
  }

  .item-resultado {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: center;
    width: 85vw;
    gap: 20px;
    border: 1px solid #353535;
    border-radius: 10px;
  }

  .img-projects {
    flex: 1;
    width: 100px;
    padding: 0;
  }

  .name {
    text-align: center;
    font-size: 1.1rem;
  }

  .title-btn {
    gap: 10px;
    display: flex;
    flex-direction: column;
    flex: 2;
  }

  .buttons-project {
    display: flex;
    flex-direction: row;
    gap: 7px;
  }

  .button,
  .btn-github {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.6rem;
    padding: 7px;
    border: 0;
    border-radius: 20px;
    gap: 0;
    margin: 0;
    height: 25px;
  }

  .div-logotipos {
    background-image: var(--mobileBgL);
  }

  .div__img-logos {
    margin-inline: 1rem;
  }

  .logo-img {
    width: 250px;
  }

  footer {
    padding: 3rem 1rem;
    font-size: 0.7rem;
  }
}

/*-----------------------------------------------------------------------------------------*/

@media (min-width: 709px) and (max-width: 1024px) {
  .div-principal {
    display: flex;
    flex-direction: row;
    height: 500px;
    padding-block: 0;
    padding-inline: 0;
    justify-content: space-evenly;
    align-items: center;
  }

  .texts-principal {
    padding-top: 0;
    flex: none;
  }

  .title__principal {
    font-size: 6rem;
    line-height: 5.5rem;
  }

  .img_principal {
    flex: none;
    text-align: center;
    justify-content: end;
  }

  .my-img {
    width: 300px;
  }

  #frase-cabecalho {
    font-size: 0.5rem;
    width: 400px;
  }

  .github-info {
    margin-top: 150px;
    margin-inline: 2rem;
    padding-block: 20px;
  }

  .graphics {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 0;

    & img {
      width: 500px;
    }
  }

  .title__projects {
    font-size: 2rem;
    margin-inline: 2rem;
  }

  .div__projects {
    display: flex;
    gap: 0px;
    align-items: center;
    justify-content: space-between;
    margin: 5rem 2rem;
  }

  .item-resultado {
    align-items: center;
    padding: 0;
  }

  .img-projects {
    width: 260px;
    padding: 0;
  }

  .name {
    text-align: center;
  }

  .div-logotipos {
    background-image: var(--mobileBgL);
  }

  .div__img-logos {
    margin-inline: 1rem;
  }

  .logo-img {
    width: 250px;
  }

  footer {
    padding: 3rem 1rem;
    font-size: 0.7rem;
  }
}
