@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  font-family: "Inter";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--fontColor);
}

body {
  background-image: var(--bg);
  background-size: cover;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.3s; /* Adiciona uma transição suave */
  top: -80px; /* Inicialmente, a barra está fora da tela */
  background-color: #5b5b5b;
  padding: 15px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

h1 {
  & a {
    color: #d9d9d9;
    text-transform: uppercase;
    text-decoration: none;
  }
}

ul {
  display: flex;
  gap: 1rem;
  list-style: none;

  & li {
    list-style: none;
  }

  & a {
    text-decoration: none;
    color: var(--pColor);
    font-size: 1.3rem;
  }
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: var(--color);
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 25px;
  height: 25px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: var(--bgGitHub);
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}

main {
  flex: 1 1 100vw;
  height: calc(100vh - 224px);
}

.btn {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  --size-of-icon: 1.4em;
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

.btn input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #303136;
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

.menu-icon {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.menu-icon input {
  display: none;
}

.menu-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: rgb(198, 198, 198);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.menu-icon span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.menu-icon span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.menu-icon span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.menu-icon input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.menu-icon input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.menu-icon input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

.open {
  display: block;
}

.div-principal {
  margin-top: 80px;
  padding-block: 30px;
  padding-inline: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.texts-principal {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title__principal {
  color: var(--h2color);
  font-size: 8rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  line-height: 7.5rem;
}

.img_principal {
  flex: 1;
  text-align: center;
}

.my-img {
  width: 450px;
}

#frase-cabecalho {
  display: block;
  margin: 0 auto;
}

.github-info {
  border: 4px solid var(--borderColor);
  border-radius: 10px;
  margin-inline: 7rem;
  margin-bottom: 130px;
}

.visitantes {
  font-size: 2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.graphics {
  display: flex;
  margin-block: 50px;
  margin-inline: 0;
}

/* Estiliza o formulário de pesquisa */
.search-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 80px;

  & .item-search {
    display: flex;
    flex-direction: row;
    background-color: #222;
    border-radius: 10px;
    padding: 15px 20px;
    width: 700px;
    gap: 20px;
    align-items: center;
    justify-content: start;

    & label {
      color: #fff;
    }

    & input {
      padding: 10px;
      border-radius: 5px;
      border: none;
      outline: none;
    }

    & button {
      padding: 10px 30px;
      border-radius: 5px;
      border: none;
      background-color: #159301;
      color: #fff;
      cursor: pointer;
      font-weight: 500;
    }
  }
}

/* Estiliza a caixa de resultados da pesquisa */
.div__projects {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 70vh;
  align-items: start;
  justify-content: start;
  margin: 6rem;
  gap: 20px;
}

.item-resultado {
  padding: 0.2rem;
  flex: 0 0 calc(25% - 20px);
  margin: 10px;
  text-align: center;
}

.title-btn {
  display: flex;
  flex-direction: column;
}

.error {
  color: #fd1f1f;
  font-weight: bold;
  font-size: 16px;
}

.title__projects {
  color: #f4f4f4;
  border: 1px solid #2f2f2f;
  background-color: #2f2f2f;
  border-radius: 10px;
  margin-inline: 7rem;
  padding: 7px;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

/* A própria imagem */
.img-projects {
  width: 380px;
}

.name-project {
  display: flex; /* Usa Flexbox para layout */
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.name {
  text-align: center;
  font-size: 1.6rem;
  color: var(--fontColor);
  padding-bottom: 10px;
}

.link-pagina {
  display: flex; /* Usa Flexbox para layout */
  flex-direction: row;
  align-items: center;
}

.buttons-project {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 7px;

  & a {
    text-decoration: none;
  }
}

.button {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: var(--h2Bg);
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.button:hover {
  background-color: var(--h2Bg);
  box-shadow: 0 0 20px var(--h2Bg);
  transform: scale(1.1);
}

.button:active {
  background-color: var(--h2Bg);
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

.btn-github {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  border: none;

  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 100px;
  font-weight: 800;
  place-content: center;

  padding: 0.75rem 1rem;
  font-size: 0.825rem;
  line-height: 1rem;

  background-color: rgb(146, 146, 146);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.04),
    inset 0 0 0 1px rgba(255, 255, 255, 0.04);
  color: #212121f8;
}

.btn-github:hover {
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.08),
    inset 0 0 0 1px rgba(123, 3, 252, 0.403);
  color: #5a03fc;
  transform: translate(0, -0.25rem);
  background-color: rgba(109, 109, 109, 0.799);
}

.div-logotipos {
  padding-block: 7em;
  background-image: var(--bgL);
  background-size: cover;
}

.title__logotipos {
  text-align: center;
  color: var(--h2color);
  font-size: 8rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  line-height: 7.5rem;
}

.div__img-logos {
  padding-top: 8rem;
  justify-content: space-around;
  margin-inline: 10rem;
  display: flex;
  flex-wrap: wrap;
}

.logo-img {
  width: 400px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222;
  padding-block: 5rem;
  gap: 10px;

  & p {
    text-align: center;
    color: var(--pColor);
  }
}

:root {
  --white: #feffd0;
  --black: #101010;
  --blue: #4b61a7;
  --purple: #6000ef;
  --lightBlue: #117702;
  --gray: #d9d9d9;
  --lightGray: #f4f4f4;
  --highGray: #2f2f2f;
  --gitGray: #24262a;
  --mediumGray: #5e5e5e;
  --fundo: url(/img/fundo.png);
  --fundo2: url(/img/fundo-claro.png);
  --fundoL: url(/img/fundo-logotipos.png);
  --fundoL2: url(/img/fundo-logotipos-claro.png);
  --fundoMobile: url(/img/Fundo-mobile/fundo-mobile.png);
  --fundoMobile2: url(/img/Fundo-mobile/fundo-mobile-claro.png);
  --fundoMobileL: url(/img/Fundo-mobile/fundo-mobile-logo.png);
  --fundoMobileL2: url(/img/Fundo-mobile/fundo-mobile-logo-claro.png);
}

.light-mode {
  --bg: var(--fundo2);
  --fontColor: var(--highGray);
  --h2Color: var(--gray);
  --h2Bg: var(--purple);
  --btnFontColor: var(--white);
  --borderColor: var(--mediumGray);
  --pColor: var(--lightGray);
  --color: var(--lightGray);
  --bgGitHub: var(--gitGray);
  --bgL: var(--fundoL2);
  --mobileBg: var(--fundoMobile2);
  --mobileBgL: var(--fundoMobileL2);
}

.dark-mode {
  --bg: var(--fundo);
  --h2color: var(--gray);
  --fontColor: var(--lightGray);
  --h2Bg: var(--lightBlue);
  --btnFontColor: var(--black);
  --borderColor: var(--highGray);
  --pColor: var(--lightGray);
  --color: var(--highGray);
  --bgGitHub: var(--mediumGray);
  --bgL: var(--fundoL);
  --mobileBg: var(--fundoMobile);
  --mobileBgL: var(--fundoMobileL);
}
