.apresentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 2rem;
  margin-inline: auto;
  max-width: 70vw;
}

.apresentation__text-content {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & p {
    text-align: start;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 100px;
  }

  & ul {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
}

/*Minhas habilidades===========================================*/

.main-skills {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  justify-content: center;
  align-items: center;
}

.main-skills h3 {
  color: var(--pColor);
}

.title-main-skills {
  text-align: center;
  margin: 30px;
  font-size: 2rem;
  text-transform: uppercase;
}

.skill {
  display: flex;
  flex-direction: row;
  width: 70vw;
  gap: 5rem;
  border: 1px solid #222;
  border-radius: 10px;
  background-color: #222;
  margin-block: 1rem;
  margin-inline: 5rem;
  padding: 5px 30px;
}

.skill h3 {
  margin: 15px 0;
}

.subtitulo-servicos {
  font-size: 1.2rem;
}

.title-servicos {
  margin-top: 100px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}

.div-servicos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  gap: 5rem;
  margin-inline: 5rem;
}

.servicos-frontEnd,
.servicos-designGrafico,
.servicos-backEnd {
  display: flex;
  flex-direction: column;
  width: 70vw;
  align-items: center;
  justify-content: center;
  background-color: #222;
  border-radius: 1.5rem;
  padding: 0 0 50px 0;

  & h2 {
    text-align: center;
    text-transform: uppercase;
    color: var(--pColor);
    font-size: 1.8rem;
    margin-bottom: 50px;
    background-color: var(--h2Bg);
    border-radius: 1.5rem 1.5rem 0 0;
    padding: 5px 0;
    width: 100%;
  }

  & h3 {
    font-size: 1.4rem;
    color: var(--pColor);
  }

  & p {
    font-size: 1rem;
    font-weight: 300;
    color: #858585;
  }
}

table {
  font-size: 1.3rem;
  margin: 0 auto;
  border: none;
}

tr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

td,
th {
  min-height: 90px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

td {
  border: none;
  width: 100%;
}

/*?-------------------------------------------MOBILE----------------------------------------------------------*/

@media only screen and (max-width: 708px) {
  body {
    background-image: var(--mobileBg);
    position: relative;
  }

  main {
    height: calc(100vh - 330px);
  }

  nav {
    padding: 8px 20px;
  }

  .example-2 {
    display: none;
  }

  .my-pages {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu {
    border-radius: 0 0 0 10px;
    position: absolute;
    right: 0;
    top: -67px;
    background-color: #353535;
    align-items: center;
    justify-content: center;
    padding: 4rem 5rem;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .mobile-menu .my-pages,
  .mobile-menu .example-2 {
    display: block;
  }

  .mobile-menu .example-2 {
    gap: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
  }

  .apresentation {
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 2rem;
    margin-inline: auto;
    max-width: 370px;

    & p {
      text-align: center;
      font-size: 0.8rem;
    }
  }

  .skill {
    margin-inline: 0rem;
    gap: 2rem;
    align-items: center;

    & img {
      height: 2.5rem;
    }
  }

  .div-servicos {
    margin-inline: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .title-servicos {
    margin-top: 100px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
  }

  .servicos {
    justify-content: space-between;
    align-items: center;
    margin-block: 0px;
  }
  table {
    border: none;
  }

  tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
  }

  td,
  th {
    width: 380px;
    border: none;
  }

  .item-servico {
    padding-block: 10px;
    background-color: #282828;
    border-radius: 10px;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    & h3 {
      font-size: 1.3rem;
    }

    & p {
      font-size: 1.2rem;
      margin-top: 5px;
      margin-bottom: 0px;
      display: flex;
      text-align: center;
      justify-content: center;
    }
  }
}

/*?-------------------------------------------TABLETS----------------------------------------------------------*/

@media (min-width: 709px) and (max-width: 1024px) {
  .apresentation {
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 2rem;
    margin-inline: auto;
    max-width: 600px;

    & p {
      text-align: center;
      font-size: 1rem;
    }
  }

  .skill {
    display: flex;
    gap: 5rem;
    border-radius: 10px;
    background-color: #222;
    margin-block: 1rem;
    margin-inline: 3rem;
    padding: 5px 30px;
  }

  .div-servicos {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .servicos {
    justify-content: center;
    align-items: center;
  }

  td,
  th {
    width: 330px;
  }

  .item-servico {
    padding-block: 10px;
    background-color: #282828;
    border-radius: 10px;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    & h3 {
      font-size: 1.3rem;
    }

    & p {
      font-size: 1.2rem;
      margin-top: 5px;
      margin-bottom: 0px;
      display: flex;
      text-align: center;
      justify-content: center;
    }
  }
}
