/* About Section */
.about-section {
  background-color: var(--bg);
}

.about-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.about-container p {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  color: var(--fontColorLight);
}

.div__curriculo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn__curriculo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px 20px;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  background-color: var(--btnCurriculo);
  gap: 10px;

  a {
    color: var(--fontColor);
    text-decoration: none;
  }
}

.svg-inline--fa {
  color: white;
}

.btn__curriculo:hover {
  background-color: var(--btnCurriculoHover);
}

/*?-------------------------------------------MOBILE----------------------------------------------------------*/

@media only screen and (max-width: 708px) {
}

/*?-------------------------------------------TABLETS----------------------------------------------------------*/

@media (min-width: 709px) and (max-width: 1024px) {
}
