.apresentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  margin-inline: auto;
  max-width: 70vw;
}

.apresentation__text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;

  & p {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 30px;
  }

  & ul {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
}

/*Minhas habilidades===========================================*/

.main-skills {
  display: flex;
  flex-direction: column;
  margin: 120px;
  justify-content: center;
  align-items: center;
}

.main-skills h3 {
  color: var(--pColor);
}

.title-main-skills {
  text-align: center;
  margin: 30px;
  font-size: 2rem;
  text-transform: uppercase;
}

.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 20px;
  width: 100%;
}

.skills-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 15px;
}

.div_curriculo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn__curriculo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px 20px;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  background-color: var(--btnCurriculo);
  gap: 10px;

  a {
    color: var(--fontColor);
    text-decoration: none;
  }
}

.svg-inline--fa {
  color: white;
}

.btn__curriculo:hover {
  background-color: var(--btnCurriculoHover);
}

.skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
  gap: 20px;
  background-color: #222;
  padding: 5px 30px;

  h3 {
    width: 20%;
  }
}

.skill-level-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 15px;
}

.skill-level {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
  border-radius: 15px;
  background-color: #222;
  padding: 8px 30px;
  margin-bottom: 20px;

  & h3 {
    color: #dcdcdc;
    text-align: start;
    flex: 1;
    font-size: 16px;
    font-weight: 500;
  }
}

.progress-bar {
  display: flex;
  width: 300px; /* Largura da barra */
  height: 15px; /* Altura da barra */
  background-color: #7cb8b6; /* Cor de fundo da barra */
  border-radius: 10px; /* Arredondamento das bordas */
  flex: 4;
  align-items: start;
}

.progress {
  height: 100%;
  background-color: #0081ea; /* Cor da barra de progresso */
  border-radius: 10px;
}

/*?-------------------------------------------MOBILE----------------------------------------------------------*/

@media only screen and (max-width: 708px) {
  body {
    background-image: var(--mobileBg);
    position: relative;
  }

  main {
    height: calc(100vh - 330px);
  }

  nav {
    padding: 8px 20px;
  }

  .example-2 {
    display: none;
  }

  .my-pages {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu {
    border-radius: 0 0 0 10px;
    position: absolute;
    right: 0;
    top: -67px;
    background-color: #353535;
    align-items: center;
    justify-content: center;
    padding: 4rem 5rem;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .mobile-menu .my-pages,
  .mobile-menu .example-2 {
    display: block;
  }

  .mobile-menu .example-2 {
    gap: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
  }

  .apresentation {
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 2rem;
    margin-inline: auto;
    max-width: 370px;

    & p {
      text-align: center;
      font-size: 0.8rem;
    }
  }

  .skill {
    margin-inline: 0rem;
    gap: 2rem;
    align-items: center;

    & img {
      height: 2.5rem;
    }
  }

  .div-servicos {
    margin-inline: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .title-servicos {
    margin-top: 100px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
  }

  .servicos {
    justify-content: space-between;
    align-items: center;
    margin-block: 0px;
  }
  table {
    border: none;
  }

  tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
  }

  td,
  th {
    width: 380px;
    border: none;
  }

  .item-servico {
    padding-block: 10px;
    background-color: #282828;
    border-radius: 10px;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    & h3 {
      font-size: 1.3rem;
    }

    & p {
      font-size: 1.2rem;
      margin-top: 5px;
      margin-bottom: 0px;
      display: flex;
      text-align: center;
      justify-content: center;
    }
  }
}

/*?-------------------------------------------TABLETS----------------------------------------------------------*/

@media (min-width: 709px) and (max-width: 1024px) {
  .apresentation {
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 2rem;
    margin-inline: auto;
    max-width: 600px;

    & p {
      text-align: center;
      font-size: 1rem;
    }
  }

  .skill {
    display: flex;
    gap: 5rem;
    border-radius: 10px;
    background-color: #222;
    margin-block: 1rem;
    margin-inline: 3rem;
    padding: 5px 30px;
  }

  .div-servicos {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .servicos {
    justify-content: center;
    align-items: center;
  }

  td,
  th {
    width: 330px;
  }

  .item-servico {
    padding-block: 10px;
    background-color: #282828;
    border-radius: 10px;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    & h3 {
      font-size: 1.3rem;
    }

    & p {
      font-size: 1.2rem;
      margin-top: 5px;
      margin-bottom: 0px;
      display: flex;
      text-align: center;
      justify-content: center;
    }
  }
}
