main {
  height: 100%;
  min-height: 80vh;
}

.btn {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  --size-of-icon: 1.4em;
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

.btn input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #303136;
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

.menu-icon {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.menu-icon input {
  display: none;
}

.menu-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: rgb(198, 198, 198);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.menu-icon span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.menu-icon span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.menu-icon span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.menu-icon input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.menu-icon input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.menu-icon input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

.open {
  display: block;
}

.div-principal {
  padding: 60px 60px 0 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

.texts-principal {
  text-align: start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  max-width: 500px;

  & p {
    color: var(--fontColorLight);
    font-size: 20px;
    font-weight: 600;
  }
}

.span-p {
  color: #ff8c00;
}

.title__principal {
  color: var(--fontColor);
  font-size: 8rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  line-height: 7.5rem;
}

.title_project_destaque {
  color: var(--fontColor);
  font-size: 3rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  text-align: center;
  line-height: 7.5rem;
}

/* From Uiverse.io by gharsh11032000 */
.card-destaque {
  position: relative;
  width: 350px;
  height: 410px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 0 0 2px #ffffff80;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  flex: 0 0 calc(25% - 20px);
}

.card-destaque:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card-destaque:hover .card__content {
  transform: rotateX(0deg);
}

/*?-------------------------------------------MOBILE----------------------------------------------------------*/

@media only screen and (max-width: 708px) {
  body {
    background-image: var(--mobileBg);
    position: relative;
  }

  main {
    height: unset;
    min-height: 340px;
    padding-top: 50px;
  }

  nav {
    padding: 8px 20px;
  }

  .example-2 {
    display: none;
  }

  .my-pages {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu {
    border-radius: 0 0 0 10px;
    position: absolute;
    right: 0;
    top: -19px;
    background-color: #353535;
    align-items: center;
    justify-content: center;
    padding: 4rem 5rem;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .mobile-menu .my-pages,
  .mobile-menu .example-2 {
    display: block;
  }

  .mobile-menu .example-2 {
    gap: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
  }

  .div-principal {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    gap: 20px;
    height: unset;
    min-height: 200px;
    padding-top: 50px;
    padding-inline: 0;
  }

  .texts-principal {
    text-align: center;
    max-width: 90%;
    padding-top: 0;
    flex: none;

    p {
      font-size: 16px;
    }
  }

  .title__principal {
    font-size: 3rem;
    line-height: 3rem;
  }

  .projeto-destaque-div {
    display: none;
  }
}

/*?-------------------------------------------TABLETS----------------------------------------------------------*/

@media (min-width: 709px) and (max-width: 1024px) {
  main {
    min-height: 400px;
  }

  .div-principal {
    display: flex;
    flex-direction: row;
    height: unset;
    min-height: 400px;
    padding: 100px 0 0 0;
    justify-content: center;
    align-items: center;
  }

  .texts-principal {
    max-width: 45%;
    text-align: center;

    p {
      font-size: 16px;
    }
  }

  .title__principal {
    font-size: 4rem;
    line-height: 4rem;
  }

  .projeto-destaque-div {
    display: none;
  }
}
