/* Home Section */
.home-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background: linear-gradient(to right, var(--bg) 60%, var(--bg) 40%);
}

.home-text {
  flex: 1;
  max-width: 600px;
  animation: fadeInLeft 1s ease-out;
}

.home-text h1 {
  font-size: 4rem;
  line-height: 1.1;
  margin-bottom: 1rem;
}

.home-text a img {
  margin-bottom: 25px;
}

.highlight {
  color: var(--blue);
}

.btn-primary {
  display: inline-block;
  background: var(--btnBg);
  color: var(--pColor);
  padding: 12px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  transition: transform 0.3s ease, background 0.3s ease;
}

.btn-primary:hover {
  transform: translateY(-3px);
  background: var(--hoverBtn);
}

.social-links {
  margin-top: 2rem;
}

.social-links a {
  font-size: 1.5rem;
  color: var(--h2color);
  margin-right: 1.5rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-links a:hover {
  color: var(--blue);
  transform: translateY(-3px);
}

.home-image {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  animation: fadeInRight 1s ease-out;
}

.home-image img {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  border: 5px solid var(--blue);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.main-content {
  padding-top: 80px;
}

.section {
  padding: 80px 5%;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 4rem;
  color: var(--dark-color);
  position: relative;
}

h2::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 4px;
  background: var(--blue);
  border-radius: 5px;
}

/*?-------------------------------------------MOBILE----------------------------------------------------------*/

@media only screen and (max-width: 708px) {
  body {
    background-image: var(--mobileBg);
    position: relative;
  }

  main {
    height: unset;
    min-height: 700px;
    padding-top: 50px;
  }
}

/*?-------------------------------------------TABLETS----------------------------------------------------------*/

@media (max-width: 1024px) {
  .home-section {
    flex-direction: column;
    text-align: center;
    padding-top: 120px;
    min-height: auto;
  }

  .home-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .home-text h1 {
    font-size: 3rem;
  }

  .home-image {
    margin-top: 2rem;
    justify-content: center;
  }
}

/* Animações Keyframes */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
