@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  font-family: "Inter";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--fontColor);
}

html {
  scroll-behavior: smooth;
}

:root {
  --white: #fcfcfc;
  --gray: #d9d9d9;
  --mediumGray: #44475a;
  --gitGray: #282a36;
  --blue: #001f84;
  --lightBlue: #204371;
  --fundo: url(/assets/img/fundo.png);
  --fundo2: url(/assets/img/fundo-claro.png);
  --fundoL: url(/assets/img/fundo-logotipos.png);
  --fundoL2: url(/assets/img/fundo-logotipos-claro.png);
  --fundoMobile: url(/assets/img/Fundo-mobile/fundo-mobile.png);
  --fundoMobile2: url(/assets/img/Fundo-mobile/fundo-mobile-claro.png);
  --fundoMobileL: url(/assets/img/Fundo-mobile/fundo-mobile-logo.png);
  --fundoMobileL2: url(/assets/img/Fundo-mobile/fundo-mobile-logo-claro.png);
}

.dark-mode,
.light-mode {
  transition: background-image 0.5s ease-in-out;
  background-size: contain;
  background-repeat: repeat;
  background-position: center start;
}

.light-mode {
  background-image: var(--fundo2);
  background-repeat: no-repeat;
  background-position: center start;
  background-size: cover;
  --bg: var(--gray);
  --h2Color: var(--gray);
  --fontColor: var(--gitGray);
  --h2Bg: var(--purple);
  --btnBg: var(--blue);
  --hoverBtn: var(--lightBlue);
  --btnFontColor: var(--white);
  --borderColor: var(--mediumGray);
  --pColor: var(--white);
  --color: var(--white);
  --bgGitHub: var(--gitGray);
  --bgL: var(--fundoL2);
  --mobileBg: var(--fundoMobile2);
  --mobileBgL: var(--fundoMobileL2);
}

.dark-mode {
  background-image: var(--fundo);
  background-repeat: no-repeat;
  background-position: center start;
  background-size: cover;
  --bg: var(--gitGray);
  --h2color: var(--gray);
  --fontColor: var(--white);
  --btnBg: var(--mediumGray);
  --hoverBtn: var(--gitGray);
  --btnFontColor: var(--gitGray);
  --borderColor: var(--gitGray);
  --pColor: var(--white);
  --color: var(--gitGray);
  --bgGitHub: var(--mediumGray);
  --bgL: var(--fundoL);
  --mobileBg: var(--fundoMobile);
  --mobileBgL: var(--fundoMobileL);
}
