@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  font-family: "Inter";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--fontColor);
}

html {
  scroll-behavior: smooth;
}

:root {
  --white: #fcfcfc;
  --gray: #d9d9d9;
  --mediumGray: #44475a;
  --gitGray: #282a36;
  --blue: #001f84;
  --lightBlue: #204371;
  --green: #66b1fd;
  --highGreen: rgb(62, 117, 255);
}

.dark-mode,
.light-mode {
  transition: background-image 0.5s ease-in-out;
}

.light-mode {
  background-color: #cecece;
  --bg: var(--gray);
  --h2Color: var(--gray);
  --fontColor: var(--gitGray);
  --fontColorLight: #4d4d4d;
  --h2Bg: var(--gray);
  --btnBg: var(--blue);
  --hoverBtn: var(--lightBlue);
  --btnCurriculo: var(--green);
  --btnCurriculoHover: var(--highGreen);
  --btnFontColor: #e4e4e4;
  --borderColor: var(--mediumGray);
  --pColor: var(--white);
  --color: var(--white);
  --primaryGradient: #797979;
  --secondaryGradient: #38b6ff;
  --bgGitHub: var(--gitGray);
}

.dark-mode {
  background-color: #25262f;
  --bg: var(--gitGray);
  --h2color: var(--gray);
  --fontColor: var(--white);
  --fontColorLight: #cecece;
  --btnBg: var(--mediumGray);
  --hoverBtn: var(--gitGray);
  --btnCurriculo: var(--mediumGray);
  --btnCurriculoHover: var(--gitGray);
  --btnFontColor: var(--gitGray);
  --borderColor: var(--gitGray);
  --pColor: var(--white);
  --color: var(--gitGray);
  --primaryGradient: #5b5b5b;
  --secondaryGradient: #e2e2e2;
  --bgGitHub: var(--mediumGray);
}
